<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="maindiv">
        <form class="loginform">
            <h1 class="textbold">Sign In</h1>

            <div>
                <button type = "submit" class="loginbtnin">Login</button>
                <button formaction="signup.html"  type = "submit" class="signupbtnin">Sign Up</button>
            </div>

            <div>
                <input placeholder = "Login" type = "text" class="field">
            </div>

            <div>
                <input placeholder = "Password" type = "password" class="field">
            </div>

            <button type = "submit" class="signinbtn">Sign In</button>

            <p class="textitalics">Haven't got an account? - <a href="signup.html">Sign up</a></p>

        </form>
    </div>
</body>
</html>