<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="maindiv">
        <form class="loginform">
            <h1 class="textbold">Sign In</h1>

            <div>
                <button type = "submit" class="loginbtnin">Login</button>
                <a href="signup.html"><button type = "button" class="signupbtnin">Sign Up</button> </a>
            </div>

            <div>
                <input placeholder = "Login" type = "text" class="field" name = "username" required minlength="3">
            </div>

            <div>
                <input placeholder = "Password" type = "password" class="field" name = "password" required minlength="6">
            </div>

            <button type = "submit" class="signinbtn">Sign In</button>

            <p class="textitalics">Haven't got an account? - <a href="signup.html">Sign up</a></p>

        </form>
        <p class="error"></p>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>