<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="maindiv">
        <form class="loginform">
            <h1 class="textbold">Sign Up</h1>

            <div>
                <a href="login.html"> <button formaction="login.html" type = "submit" class="signupbtnup" value="login.html">Login</button> </a>
                <button type = "submit" class="loginbtnup">Sign Up</button>
            </div>
            <div>
                <input placeholder = "Name" type = "text" class="field">
            </div>
            <div>
                <input placeholder = "Surname" type = "text" class="field">
            </div>
            <div>
                <input placeholder = "Login" type = "text" class="field">
            </div>
            <div>
                <input placeholder = "Password" type = "password" class="field">
            </div>
            <div>
                <input placeholder = "Email" type = "email" class="field">
            </div>


            <button type = "submit" class="registerbtn">Register</button>

            <p class="textitalics">Do you have an account? - <a href="login.html">Sign In</a></p>

        </form>
    </div>
</body>
</html>