<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User's Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>

    <div class="maindiv">
        <form class="loginform">
            <h1 class="textbold">Account</h1>

            <img src="../img/photo.png" class="profilephoto">


            <div>
                <h2 class="textbold">Your information: </h2>

                <p class="pteg">First Name: Orest</p>
                <p>Last Name: Chukla</p>
                <p>Login: Oliver</p>
                <p>Email: orest_chukla@ukr.net</p>
            </div>

           <button formaction="edit_user.html" type = "submit" class="signinbtn">Edit account</button>

        </form>
    </div>

</body>
</html>