$yellowdark: #FFFF00;
$yellowlight: #FFFFE0;

$graycolor: #555F61;
$whitecolor: white;
$greenlightcolor: #97EA48;
$redlightcolor: #FF876D;

$hoverbtncolor: #FFE0B5;

$fontname: Galvji;


.loginform{
  display: flex;
  flex-direction: column; //вертикаль
  align-items: center; // горизонталь
  box-shadow: 0 0 30px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: $whitecolor;
}

.loginbtnin{
  display: inline-block;
  margin-right: 0;
  margin-bottom: 15px;
  padding: 10px 61px;
  border: 2px solid gray;
  text-align: center;
  border-right: 0 solid gray;
  background: -webkit-linear-gradient(left, $yellowdark, $yellowlight);
  color: $graycolor;
  font-family: $fontname;
}

.signupbtnin{
  display: inline-block;
  margin: -5px;
  margin-bottom: 15px;
  padding: 10px 60px;
  padding-left: 66px;
  border: 2px solid gray;
  margin-right: 1px;
  border-left: 0 solid gray;
  background: $whitecolor;
  color: $graycolor;
  font-family: $fontname;
}


.signupbtnup{
  display: inline-block;
  margin-right: 0;
  margin-bottom: 15px;
  padding: 10px 61px;
  border: 2px solid gray;
  text-align: center;
  border-right: 0 solid gray;
  background: $whitecolor;
  color: $graycolor;
  font-family: $fontname;

}

.loginbtnup{
  display: inline-block;
  margin: -5px;
  margin-bottom: 15px;
  padding: 10px 60px;
  padding-left: 66px;
  border: 2px solid gray;
  margin-right: 1px;
  border-left: 0 solid gray;
  background: -webkit-linear-gradient(left, $yellowlight, $yellowdark);
  color: $graycolor;
  font-family: $fontname;
}

.maindiv{
  display: flex;
  flex-direction: column;
  justify-content: center; // вертикаль
  align-items: center; // горизонталь
  height: 100vh;
}

body{
  margin: 0;
  background: -webkit-linear-gradient(left, $yellowdark, $yellowlight);
}

.field{
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid gray;
  font-size: 15px;
  padding-right: 150px;
  font-family: $fontname;
  &::placeholder{color: $graycolor}
}

.signinbtn{
  border-radius: 20px;
  border: 2px solid gray;
  background-color: aquamarine;
  padding: 8px 100px;
  font-family: $fontname;
  background: -webkit-linear-gradient(left, $yellowdark, $yellowlight);
  color: $graycolor;
  font-weight: bold;
  margin-top: 10px;
}

button:hover{
  background: $hoverbtncolor;
}

.registerbtn{
  border-radius: 20px;
  border: 2px solid gray;
  background-color: aquamarine;
  padding: 8px 100px;
  font-family: $fontname;
  background: -webkit-linear-gradient(left, $yellowdark, $yellowlight);
  color: $graycolor;
  font-weight: bold;
  margin-top: 10px;
}

.savebtn{
  border-radius: 20px;
  border: 2px solid green;
  background-color: aquamarine;
  padding: 8px 50px;
  font-family: $fontname;
  background: $greenlightcolor;
  color: $graycolor;
  font-weight: bold;
  margin-top: 10px;
}

.cancelbtn{
  border-radius: 20px;
  border: 2px solid red;
  background-color: aquamarine;
  padding: 8px 50px;
  font-family: $fontname;
  background: $redlightcolor;
  color: $graycolor;
  font-weight: bold;
  margin-top: 10px;
}

.textitalics{
  font-family: $fontname;
  color: $graycolor;
  font-style: italic;
}

.textbold{
  font-family: $fontname;
  color: $graycolor;
  font-weight: bold;
}

.profilephoto{
  height: 200px;
  margin-bottom: 20px;
}

p{
  margin-left: 15px;
  color: $graycolor;
}

.error{
  margin-top: 10px;
  font-family: $fontname;
  font-size: 19px;
  color: red;
  font-style: italic;
}

.logoutbtn{
  border-radius: 20px;
  border: 2px solid gray;
  background-color: aquamarine;
  padding: 8px 100px;
  font-family: $fontname;
  background: -webkit-linear-gradient(left, $yellowdark, $yellowlight);
  color: $graycolor;
  font-weight: bold;
  margin-top: 15px;
}

.money{
  color: $graycolor;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
  font-family: $fontname;
  font-style: italic;
  font-size: 18px;
}

.createbudget{
  color: $graycolor;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
  font-family: $fontname;
  font-style: italic;
  font-size: 18px;
}

.create{
  color: $graycolor;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
  font-family: $fontname;
  font-style: italic;
  font-size: 18px;
}

.history{
  border-radius: 20px;
  border: 2px solid gray;
  background-color: aquamarine;
  padding: 8px 100px;
  font-family: $fontname;
  background: -webkit-linear-gradient(left, $yellowdark, $yellowlight);
  color: $graycolor;
  font-weight: bold;
  margin-top: 15px;
}

.maindivhistory{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; // вертикаль
  align-items: center; // горизонталь
}

.pnone{
  margin-top: 10px;
  font-family: $fontname;
  font-size: 20px;
  color: $graycolor;
  font-style: italic;
}